*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body {
    height: 100%;
    width: 100vw;
    background-color: #fdf6e3;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

img {
    height: 300px;
    width: 300px;
    border-radius: 10px;

}
.books {
    background-image: url(/img/Developing.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    width: 300px;
    border-radius: 30px;
    transition: transform 0.3s ease;
    justify-self: center;
    align-self: center;

}
.books:hover {
    transform: scale(1.1);

}

main {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
}